body {
    font-family: 'Inter', sans-serif;
    background-color: #f8fafc;
    -webkit-tap-highlight-color: transparent;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

/* Ocultar barras de scroll en móviles conservando funcionalidad táctil */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}
.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Ajustes para inputs en iOS para evitar zoom automático al hacer clic */
@media screen and (max-width: 768px) {
    input, select, textarea {
        font-size: 16px !important;
    }
}
